.container {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100px;
    border: none;
    padding: 16px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.button:disabled {
    background-color: rgba(34, 148, 159, 0.473);
    cursor: not-allowed;
}